<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Helping Hand of Greater Little Rock</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="../assets/bootstrap.min.css">
  <style>
      body {
          padding-top: 50px;
          padding-bottom: 20px;
      }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <!-- Custom styles for this template -->

  <link rel="stylesheet" href="../assets/normalize.css">
  <link rel="stylesheet" href="../assets/jquery.steps.css">
  <link rel="stylesheet" href="../assets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="../assets/modernizr-2.6.2.min.js"></script>
  <script src="../assets/jquery.cookie-1.3.1.js"></script>
  <script src="../assets/jquery.steps.js"></script>
  <script>
      $(function ()
      {
          $("#wizard").steps({
              headerTag: "h2",
              bodyTag: "section",
              transitionEffect: "slideLeft",
              stepsOrientation: "vertical"
          });
      });
  </script>
  <script src="../assets/clone-form-td.js"></script>

</head>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Helping Hand of Greater Little Rock</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home/#">Home</a></li>
            <li class="active"><a href="/customers/#">Search Existing Clients</a></li>
            <li><a href="/customers/new">New Clients</a></li>
            <li><a href="/volunteers/#">Volunteer Clocking</a><li>
            <li><a href="/reports/#">Monthly Reports</a><li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
            </div>
            <button type="signOut" class="btn btn-default">Sign Out</button>
          </form>
        </div>
      </div>
    </nav>

  </div>
</div>



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <form method="get" class="form-horizontal" action="<%= customers_path %>">
  <div class="page-header">
    <h1>Search Existing Client</h1>
  </div>

  <div class="row">
    <h2>Search By Last 4 Digits of Driver's License Number</h2>
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input name = "search_string" type="text" class="search-query form-control" id="search_field" placeholder="Search" />

                                <span class="input-group-btn">
                                   <button class="btn btn-info" type="button">
                                      <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h1><small>-or-</small></h1>
  </div>
  <div class="row">
    <h2>Search By First and Last Name</h2>
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button">
                                      <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
      </div>
    </div>
  </div>
</form>



  <!--footer-->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 AllStateTeam. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>

<!--form script-->
<script>
    $("#example-vertical").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        stepsOrientation: "vertical"
    });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
</body>
</html>
